body {
    background-size: cover;
}
.heading {
    width:100%;
    margin:0;
    font-size: 25px;
}
.note {
    font-size: 15px;
    color:black;
}
.speed {
    float:left;
}
.speed_image,.volume_image {
    width:250px;
    border-radius: 175px;
}
#speed_h3, #volume_h3 {
    font-size: 25px;
    margin: 10px;
}
.volume {
    float:right;
}
.play_button {
    width: 130px;
    font-size: 25px;
}
canvas {
    border:5px solid white;
    border-radius:20px;
}